{% extends "client/base_client.html" %}
{% block content %}
<h1 class="text-xl font-bold mb-4">External Wire Request</h1>

<form method="post" class="space-y-3 max-w-md">
    {% csrf_token %}

    <select name="account_id" class="w-full border p-2">
        {% for acc in accounts %}
        <option value="{{ acc.id }}">{{ acc.currency }}</option>
        {% endfor %}
    </select>

    <select name="beneficiary_id" class="w-full border p-2">
        {% for b in beneficiaries %}
        <option value="{{ b.id }}">{{ b.name }} ({{ b.bank_name }})</option>
        {% endfor %}
    </select>

    <input name="amount" placeholder="Amount" class="w-full border p-2">

    <button class="bg-bankBlue text-white px-4 py-2 rounded">
        Submit Wire Request
    </button>
</form>
{% endblock %}
