{% extends "client/base_client.html" %}
{% block content %}
<h1 class="text-xl font-bold mb-4">My Wire Requests</h1>
<a href="{% url 'client_funding_instructions' %}"
   class="inline-block bg-blue-600 text-white px-4 py-2 rounded">
    How to Wire Funds
</a>


<ul class="space-y-3">
{% for w in requests %}
<li class="bg-white p-3 rounded shadow">
    Amount: {{ w.amount }} <br>
    Status:
    <span class="font-bold
        {% if w.status == 'PENDING' %}text-orange-500{% endif %}
        {% if w.status == 'APPROVED' %}text-green-600{% endif %}
    ">
        {{ w.status }}
    </span>
</li>
{% endfor %}
</ul>
{% endblock %}
